BOT_TOKEN=8608610565:860
ADMIN_IDS=8493522297
DB_URL=postgresql://user:password@host:5432/dbname
RAILWAY_URL=
CHANNEL_ID=0

PLATEGA_MERCHANT_ID=
PLATEGA_API_SECRET=
CRYPTOBOT_TOKEN=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=mistralai/mistral-7b-instruct:free
